.secondplaces__icon{
    display: block;
    width: 2em;
    height: 2em;
    background-color: var(--red);
}
.secondsgames__container h4{
    display: flex;
}
.secondsgames__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.secondsgames__container h4{
    text-align: center;
}