.cardgame-container{
    width: 100%;
    min-width: 17.5em;
    max-width: 17em;
    height: 18em;
    box-shadow: var(--shadow);
    transition: 0.3s;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    border-radius: 5px;
    background-color: var(--dark);
    border: 3px solid var(--red) ;
}

.cardgame-container:hover{
    transform: scale(1.04);
}

.cardgame__image-container{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.cardgame__image-container img{
    position: absolute;
    height: 100%;
    right: -175%;
    left: -175%;
    margin: auto;
}

.cardgame-content{
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.cardgame-content h3{
    color: var(--red);
}
.cardgame-content p,.cardgame-content h3{
    text-align: center;
}
