.register__form{
	display: flex;
	flex-direction: column;
	background-color: var(--dark);
	padding: 2.5em;
	margin: 1em;
	border-radius: 5px;
	border: var(--border);
	width: 90%;
	max-width: 23em;
	min-width: 16em;
}
.register__form h1{
	text-align: center;
}
.register__sonic{
	width: 5em;
	margin: auto;
}
.register__form input[type=password],
.register__form input[type=email]{
	max-width: 100%;
	border-radius: 5px;
	margin: .5rem 0px;
	padding: 3px;
	font-size: .9rem;
	border: 1px solid var(--red);
	background-color: var(--light);
}

.register__form input[type=password]:focus,
.register__form input[type=email]:focus{
	box-shadow: 0px 0px 10px var(--red);
}

.register__btn{
	cursor: pointer;
	max-width: 100%;
	background-color: var(--red);
	border: none;
	color: var(--light);
	padding: .2em;
	font-size: 1em;
	border-radius: 5px;
	margin: 10px 0px;
}